<div class="container" *ngIf="isLoggedIn; else loggedOut">
  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div align="center" style="text-align: right;">
        Profile
      </div>
    </mat-toolbar>
    <br>
    Users list
    <br>
    <table class="table table-hover">
      <thead>
        <th>Id</th>
        <th>User name</th>
        <th>Roles</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of content">
          <td>{{ row.id }}</td>
          <td>{{ row.name }}</td>
          <td>
            <span *ngFor="let role of row.userRoles">
              <li>{{ role.name}}</li>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    {{ errorMessage }}

  </mat-card>
</div>

<ng-template #loggedOut>You have to login.</ng-template>
